:root {
  color: #1f1f1f;
  background: #f8f9fb;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f8f9fb;
}

body {
  overflow: auto;
  background: #f8f9fb;
}

#__next {
  height: 100%;
}

button,
input,
textarea {
  font: inherit;
}
